/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
  --search-pad: 1rem;
  --bg: #ffffff;
  --fg: #000000;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
  transition: none;
}

select {
  padding: 0.4rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  gap: 0.8rem;
  transform: translateY(-50%);
  padding-left: 0.8rem;
}

.tabs button {
  background: none;
  border: none;
  padding: 0.6rem 1.1rem;
  font: inherit;

  font-family: "Ysabeau Office";

  font-family: "Livvic";
  font-size: 1.24rem;
  font-weight: 400;
  cursor: pointer;
  /* border-radius: 0.4rem 0.4rem 0 0; */
  outline: none;
  position: relative;
  /* margin: 0.0rem; */
  border-radius: 0;
  border: 2px solid var(--bg-600);
  /* border: 2px solid var(--bm-active); */
  background-color: var(--bg);
  background-color: var(--fg);

  color: var(--bg);
  background-clip: padding-box;
}

.tabs button:focus-visible {
  outline: red;
}

.tabs button.is-active {
  opacity: 100%;
  color: var(--bg);
  /* background: var(--base01); */
  border: 2px solid var(--bg-600);
  /* border-bottom: 1px solid color-mix(in srgb, var(--nc) 90%, var(--bg) 85%); */
  background: var(--bm-active);

  background-clip: padding-box;
}

.bookmarks {
  position: relative;
  /* font-family: "Overlock"; */
  font-family: "Ysabeau Office";

  font-family: "Livvic";
  font-weight: 400;
  margin-left: 1rem;
  margin-top: 2.2rem;
  border: 0.15rem solid var(--bm-border);
  padding: 1rem;
  padding-top: 2.5rem;
  border-radius: 0.05rem;
  background-color: var(--bg-500);
  width: 100%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.6rem;
  align-items: flex-start;
  padding: 0.6rem;
  padding-left: 0.6rem;
  border-radius: 0 0 0.4rem 0.4rem;
  /* background: var(--base02); */
  transition: background 0.2s ease;
}

/* .links a[data-tab] { */
/*   display: none; */
/* } */
/**/
/* html[data-active-tab] .links a[data-tab] { */
/*   display: none; */
/* } */
/**/
/* html[data-active-tab] .links a[data-tab].is-visible { */
/*   display: inline-block;  */
/*   width: auto;  */
/*   max-width: max-content;  */
/* } */

.links a {
  display: none;
  text-decoration: none;
  color: var(--fg);
  font-size: 1.1rem;
  opacity: 85%;
}

/* Give the "box" around the text */
.links a {
  position: relative; /* anchor the overlay */
  z-index: 0;
  padding: 0.2rem 0.5rem;
  border-radius: 0.1rem;
  text-decoration: none;
  color: var(--fg);
  /* define once, cheap to compute */
  transition: color 90ms cubic-bezier(0.2, 0, 0, 1);
}

.links a.is-visible {
  display: inline-flex;
  flex: 0 0 auto;
}

.links a::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: var(--fg);
  background: var(--xnordblue-1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 90ms cubic-bezier(0.2, 0, 0, 1);
  z-index: -1;
}

.links a:hover,
.links a:focus-visible {
  color: var(--bg);
}

.links a:hover::before,
.links a:focus-visible::before {
  opacity: 1;
  transform: none;
}

/* respect reduced motion without breaking hover feedback */
@media (prefers-reduced-motion: reduce) {
  .links a {
    transition: none;
  }
  .links a::before,
  .links a:active {
    transition: none;
    transform: none;
  }
}

.tab-container {
  max-width: 30rem;
}

.container {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  align-items: start;
  margin-top: 2rem;
}

/* Sidebar layout */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
  margin-top: 2rem;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sidebar-top-time,
.sidebar-bottom {
  text-align: center;
  font-family: monospace;
  font-size: 0.9rem;
}

.sidebar-top-time {
  /* min-width: 40px; */
  /* max-width: 10rem; */
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 2rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  color: var(--bd);

  margin-bottom: 1.5rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    145deg,
    var(--neu-grad-dark),
    var(--neu-grad-light)
  );
  box-shadow:
    2px 2px 6px var(--neu-shadow-dark),
    -1px -1px 8px var(--neu-shadow-lite);
}

.sidebar-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(
    145deg,
    var(--neu-grad-dark),
    var(--neu-grad-light)
  );
  box-shadow:
    2px 2px 10px var(--neu-shadow-dark),
    -2px -2px 10px var(--neu-shadow-lite);
}

.sidebar-top-date {
  font-size: 0.8rem;
  opacity: 0.7;
  color: var(--bd);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans;
  margin-bottom: 0.3rem;
  display: none;
}

.sidebar-image img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

/* Main area */
.main {
  display: flex;
  flex-direction: column;
  margin-top: 1.65rem;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
  justify-self: start;
}

.search-prompt {
  display: flex;
  align-items: center;
  background-color: var(--bg);
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: var(--search-pad);
  padding-left: 0;
  font-family: "Terminess Nerd Font";
  font-size: 1rem;
  color: var(--nb);
  height: 1rem;
  border: 0.1rem solid var(--bg-600);
  border-radius: 0.1rem;
  background-color: var(--bg-500);
  /* max-width: 20rem; */
  /* width: 100%; */
}

.prompt-prefix-container {
  position: relative;
  display: flex;
  white-space: nowrap;
  /* margin-right: 0.5rem; */
  /* border: 0.1rem solid var(--bg); */
  /* border-right: 0.1rem solid var(--bg); */
  border: none;
  outline: none;
}

.search-prompt-element {
  margin-left: 0;
}
.search-prompt-element {
  padding: var(--search-pad);
  /* background: transparent; */

  background-color: var(--ngr);
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

.prompt-input {
  background: transparent;
  border: none;
  outline: none;
  font: inherit;
  width: 100%;
  font-size: 1.2rem;

  /* font-family: "Livvic"; */
  /**/
  /* font-family: "Ysabeau Office"; */
  font-weight: 400;
  padding: var(--search-pad);
  caret-color: var(--ngr);
  color: var(--ngr);
  padding: 0.2rem;
  padding-left: 1rem;
  opacity: 95%;
}

.prompt-input::placeholder {
  color: var(--fg);
  opacity: 12%;
  font-style: italic;
}

/**************
* SEARCH MENU *
***************/

.search-engine-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background: var(--bg);
  border: 1px solid var(--bd);
  border-radius: 0.1rem;
  box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  padding: 4px;
  padding-bottom: 0rem;
  z-index: 1000;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}
.prompt-prefix-container.open .search-engine-menu {
  transform: scaleY(1);
  opacity: 1;

  transition:
    transform 0.1s ease-out,
    opacity 0.1s ease-out;
}
.search-engine-item {
  padding: 0.5rem 14px;
  color: var(--fg);
  background: transparent;
  margin-bottom: 4px;
  border: none;
  text-align: left;
  font: inherit;
  cursor: pointer;
}
.search-engine-item:hover {
  background: rgba(255, 255, 255, 0.04);
  color: var(--nb);
}
.search-engine-item.active {
  background: var(--bb);
  color: var(--bg);
}

.clock-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  margin-top: 2rem;
}

.clock-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px; /* same as canvas width */
  text-align: center;
}

.clock-block canvas {
  display: block;
  margin: 0 auto;
}
.clock-label {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  color: var(--fg);
}

select {
  appearance: none;
  background-color: var(--bg);
  color: var(--bd);
  border: 1px solid color-mix(in srgb, var(--fg) 5%, var(--bg) 95%);
  padding: 0.4rem 2.2rem 0.4rem 0.6rem;
  font-size: 0.95rem;
  border-radius: 0.2rem;
  font-family: inherit;
  background-repeat: no-repeat, no-repeat;
  background-position:
    right 0.6rem center,
    0 0;
  background-size:
    0.6rem 0.6rem,
    100% 100%;
  cursor: pointer;
  outline: none;

  color: color-mix(in srgb, var(--bg) 95%, var(--fg) 25%);
  background-color: color-mix(in srgb, var(--bg) 95%, var(--fg) 1%);
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}

select:focus {
  outline: none;
  border-color: var(--bg);
}

select:hover {
  background-color: color-mix(in srgb, var(--bg) 92%, var(--fg) 8%);
}

/******************/
/* Theme Dropdown */
/******************/

.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
  font-size: 14px;
}
.trigger {
  display: flex;
  align-items: center;
  min-width: 48px;
  max-width: 220px;
  height: 42px;
  padding-inline: 24px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.01);
  opacity: 20%;
  border-radius: 8px;
  cursor: pointer;
  gap: 6px;
  transition: all 0.2s;
  outline: none;
}
.trigger .label {
  flex: 1;
}

.trigger:hover {
  opacity: 50%;
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background: var(--bg);
  color: var(--fg);
  border-radius: 6px;
  width: 160px;
  padding: 0.4rem;
  display: none;
  gap: 0.4rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.4s;
}
.open .menu {
  display: block;
}

.menu-item {
  padding: 8px 16px;
  white-space: nowrap;
  background: transparent;
  width: 100%;
  text-align: left;
  color: inherit;
  font: inherit;
  margin: 0;
  margin-bottom: 0.4rem;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}
.menu-item:hover,
.menu-item[aria-selected="true"] {
  background: rgba(255, 255, 255, 0.04);
  color: var(--nc);
}
.menu-item.active {
  background: var(--nc);
  color: var(--bg);
}
*:focus,
*:focus-visible,
*:focus-within {
  outline: none !important;
  box-shadow: none !important; /* catch custom rings */
}
