html.theme-solarized-dark {
  --dark6: #00151b;
  --dark2: #001b23; /* clock bg */
  --dark1: #001c25;
  --base00: #002b36;
  --base01: #06313c;
  --base02: #0a3540;
  --base03: #133e49;
  --base04: #1b4651;
  --base05: #93a1a1;
  --base06: #eee8d5;
  --base07: #fdf6e3;
  --base08: #dc322f;
  --base09: #cb4b16;
  --base0A: #b58900;
  --base0B: #859900;
  --base0C: #2aa198;
  --base0D: #268bd2;
  --base0E: #6c71c4;
  --base0F: #d33682;
  --p0: #002831;
  --p1: #d11c24;
  --p2: #738a05;
  --p3: #a57706;
  --p4: #2176c7;
  --p5: #c61c6f;
  --p6: #259286;
  --p7: #eae3cb;
  --p8: #475b62;
  --p9: #bd3613;
  --p10: #475b62;
  --p11: #536870;
  --p12: #708284;
  --p13: #5956ba;
  --p14: #819090;
  --p15: #fcf4dc;
  --bg: #001e27;
  --fg: #708284;
  --cursor-color: #708284;
  --cursor-text: #002831;
  --selection-background: #002831;
  --selection-foreground: #819090;
}
