html.theme-default {
  --dark1: #181622;
  --dark2: #161520;
  --dark6: #121019;
  --p0: #26233a;
  --p1: #eb6f92;
  --p2: #31748f;
  --p3: #f6c177;
  --p4: #9ccfd8;
  --p5: #c4a7e7;
  --p6: #ebbcba;
  --p7: #e0def4;
  --p8: #6e6a86;
  --p9: #eb6f92;
  --p10: #31748f;
  --p11: #f6c178;
  --p12: #9ccfd9;
  --p13: #c4a7e8;
  --p14: #ebbcba;
  --p15: #e0def5;
  --base00: #191724;
  --base01: #1f1d2e;
  --base02: #26233a;
  --base03: #6e6a86;
  --base04: #908caa;
  --base05: #e0def4;
  --base06: #e0def4;
  --base07: #524f67;
  --base08: #eb6f92;
  --base09: #f6c177;
  --base0A: #ebbcba;
  --base0B: #31748f;
  --base0C: #9ccfd8;
  --base0D: #c4a7e7;
  --base0E: #f6c177;
  --base0F: #524f67;

  --bm-active: var(--p4);
  --bm-border: var(--p4);

  --bg: #191724;
  --fg: #e0def4;
  --cursor-color: #e0def4;
  --cursor-text: #191724;
  --selection-background: #403d52;
  --selection-foreground: #e0def4;
}
