html.theme-solarized-dark {
  --bg: #001e27;
  --fg: #708284;
  --cursor: #708284;
  --cursor-text: #002831;
  --selection-bg: #002831;
  --selection-fg: #819090;
  --nd: #002831;
  --nr: #d11c24;
  --ngr: #738a05;
  --ny: #a57706;
  --nb: #2176c7;
  --nm: #c61c6f;
  --nc: #259286;
  --nw: #eae3cb;
  --bd: #475b62;
  --br: #bd3613;
  --bgr: #475b62;
  --by: #536870;
  --bb: #708284;
  --bm: #5956ba;
  --bc: #819090;
  --bw: #fcf4dc;
  --xpink: #f29b92;
  --xgray-1: #093d49;
  --xgray-2: #0f4652;
  --xgray-3: #174e5c;
  --xlg-1: #bdcbc7;
  --xnordblue-1: #5bbdb6;
  --bg-100: #034958;
  --bg-200: #013d4b;
  --bg-300: #002e3a;
  --bg-500: #001b24;
  --bg-600: #001920;
  --bg-700: #00161d;
  --bm-active: var(--nb);
  --bm-border: var(--nb);
}
