html.theme-gruvbox {
  --base00: #282828;
  --base01: #3c3836;
  --base02: #423e3c;
  --base03: #484442;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;
  --base07: #fbf1c7;
  --base08: #fb4934;
  --base09: #fe8019;
  --base0A: #fabd2f;
  --base0B: #b8bb26;
  --base0C: #8ec07c;
  --base0D: #83a598;
  --base0E: #d3869b;
  --base0F: #d65d0e;

  --p0: #282828;
  --p1: #cc241d;
  --p2: #98971a;
  --p3: #d79921;
  --p4: #458588;
  --p5: #b16286;
  --p6: #689d6a;
  --p7: #a89984;
  --p8: #928374;
  --p9: #fb4934;
  --p10: #b8bb26;
  --p11: #fabd2f;
  --p12: #83a598;
  --p13: #d3869b;
  --p14: #8ec07c;
  --p15: #ebdbb2;
  --background: #282828;
  --foreground: #ebdbb2;
  --cursor-color: #ebdbb2;
  --cursor-text: #282828;
  --selection-background: #665c54;
  --selection-foreground: #ebdbb2;
}
