html.theme-nord-dark {
  --dark1: #2c313d;
  --dark2: #292f3a;
  --dark6: #20242d;
  --base00: #2e3440;
  --base01: #3b4252;
  --base02: #434c5e;
  --base03: #4c566a;
  --base04: #d8dee9;
  --base05: #e5e9f0;
  --base06: #eceff4;
  --base07: #8fbcbb;
  --base08: #88c0d0;
  --base09: #81a1c1;
  --base0A: #88c0d0;
  --base0B: #a3be8c;
  --base0C: #81a1c1;
  --base0D: #81a1c1;
  --base0E: #81a1c1;
  --base0F: #b48ead;

  --p0: #3b4252;
  --p1: #bf616a;
  --p2: #a3be8c;
  --p3: #ebcb8b;
  --p4: #81a1c1;
  --p5: #b48ead;
  --p6: #88c0d0;
  --p7: #e5e9f0;
  --p8: #4c566a;
  --p9: #bf616a;
  --p10: #a3be8c;
  --p11: #ebcb8b;
  --p12: #81a1c1;
  --p13: #b48ead;
  --p14: #8fbcbb;
  --p15: #eceff4;

  --bm-active: var(--p4);
  --bm-border: var(--p4);

  --bg: #2e3440;
  --fg: #d8dee9;
  --cursor-color: #eceff4;
  --cursor-text: #282828;
  --selection-background: #eceff4;
  --selection-foreground: #4c566a;
}
