html.theme-nord-dark {
  --bg: #2e3440;
  --fg: #cdcecf;
  --cursor: #cdcecf;
  --selection-bg: #3e4a5b;
  --selection-fg: #cdcecf;
  --nd: #3b4252;
  --nr: #bf616a;
  --ngr: #a3be8c;
  --ny: #ebcb8b;
  --nb: #81a1c1;
  --nm: #b48ead;
  --nc: #88c0d0;
  --nw: #e5e9f0;
  --bd: #465780;
  --br: #d06f79;
  --bgr: #b1d196;
  --by: #f0d399;
  --bb: #8cafd2;
  --bm: #c895bf;
  --bc: #93ccdc;
  --bw: #e7ecf4;
  --xpink: #e3afb2;
  --xgray-1: #4d5566;
  --xgray-2: #555d6e;
  --xgray-3: #5d6576;
  --xlg-1: #b7c5dc;
  --xnordblue-1: #a7cfdc;
  --bg-100: #474f5e;
  --bg-200: #3f4655;
  --bg-300: #363c49;
  --bg-500: #2a303b;
  --bg-600: #272c36;
  --bg-700: #232832;
  --bm-active: var(--nb);
  --bm-border: var(--nb);
}
