html.theme-default {
  --bg: #191724;
  --fg: #e0def4;
  --cursor: #e0def4;
  --cursor-text: #191724;
  --selection-bg: #403d52;
  --selection-fg: #e0def4;
  --nd: #26233a;
  --nr: #eb6f92;
  --ngr: #31748f;
  --ny: #f6c177;
  --nb: #9ccfd8;
  --nm: #c4a7e7;
  --nc: #ebbcba;
  --nw: #e0def4;
  --bd: #6e6a86;
  --br: #eb6f92;
  --bgr: #31748f;
  --by: #f6c177;
  --bb: #9ccfd8;
  --bm: #c4a7e7;
  --bc: #ebbcba;
  --bw: #e0def4;
  --xpink: #fab9c7;
  --xgray-1: #393650;
  --xgray-2: #413e59;
  --xgray-3: #494662;
  --xlg-1: #c3c0d5;
  --xnordblue-1: #e0cbcd;
  --bg-100: #433f57;
  --bg-200: #38344a;
  --bg-300: #292638;
  --bg-500: #171521;
  --bg-600: #14121e;
  --bg-700: #12101b;

  --bm-active: var(--nb);
  --bm-border: var(--nb);

  --sec-pm: var(--nr);
  --sec-am: var(--nb);
}
