html.theme-gruvbox {
  --bg: #282828;
  --fg: #ebdbb2;
  --cursor: #ebdbb2;
  --cursor-text: #282828;
  --selection-bg: #665c54;
  --selection-fg: #ebdbb2;
  --nd: #282828;
  --nr: #cc241d;
  --ngr: #98971a;
  --ny: #d79921;
  --nb: #458588;
  --nm: #b16286;
  --nc: #689d6a;
  --nw: #a89984;
  --bd: #928374;
  --br: #fb4934;
  --bgr: #b8bb26;
  --by: #fabd2f;
  --bb: #83a598;
  --bm: #d3869b;
  --bc: #8ec07c;
  --bw: #ebdbb2;
  --xpink: #ef9c90;
  --xgray-1: #404040;
  --xgray-2: #4a4a4a;
  --xgray-3: #545454;
  --xlg-1: #d1c4a6;
  --xnordblue-1: #97c09a;
  --bg-100: #484848;
  --bg-200: #3f3f3f;
  --bg-300: #333333;
  --bg-500: #252525;
  --bg-600: #212121;
  --bg-700: #1e1e1e;
  --bm-active: var(--nb);
  --bm-border: var(--nb);
}
